numpy==2.5.0
matplotlib==3.11.0
deap==1.4.4
gymnasium==1.2.3
stable-baselines3==2.8.0
tensorboard==2.19.0
torch==2.12.0
nbformat==5.10.4
ipykernel==7.2.0
jupyterlab==4.5.8
pytest==9.1.1
pytest-timeout==2.4.0
pytest-cov==6.1.1
